.intro {
    padding: 7.5rem 0 0;
    position: relative;
    z-index: 1;

    .image-col {

        @include media-breakpoint-up(md) {
            display: flex;
            margin-bottom: -7rem;
        }
    }

    .image {
        border-radius: $border-radius;
        overflow: hidden;
        box-shadow: $image-box-shadow;
        display: flex;
        align-items: flex-start;

        img {
            width: 100%;
        }
    }

    .text-col {
        margin-bottom: 7.5rem;
    }

    .text-wrapper {
        margin-top: 9.5rem;

        @include media-breakpoint-up(md) {
            margin-left: 4.5rem;
        }

        .values {
            margin-top: 8rem;

            .value {
                margin-bottom: 5rem;
            }

            p {
                margin-top: .5rem;
            }
        }

        .btn-link {
            margin-top: 1rem;
        }
    }
}

.testimonials {
    padding: 11.5rem 0 14rem;
    max-width: 100vw;
    overflow: hidden;

    .text {
        @include media-breakpoint-up(md) {
            padding: 12rem 0 5rem;
        }

        p {
            color: $grey;
        }

        .btn {
            margin-top: 3rem;
            margin-bottom: 3rem;
            @include media-breakpoint-up(md) {
                margin-top: 6rem;
                margin-bottom: 0;
            }
        }
    }

    .draggable {
        padding: 5rem 7.2rem 5rem 0;
        margin: calc(#{$gutters}*-1);
    }

    .item {
        padding: 0 $gutters;

        .wrap {
            border-radius: $border-radius;
            padding: 6rem 5rem 4.5rem;

            overflow: hidden;
            border: 1px solid $border-color;
            transition: .3s;

            .author {
                display: flex;
                margin-top: 3.5rem;

                .image {
                    width: 5.5rem;
                    height: 5.5rem;
                    overflow: hidden;
                    border-radius: 50%;
                    margin-right: 2rem;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            * {
                font-size: $base-font-size;
                letter-spacing: initial;
                text-transform: initial;
            }

            &:hover {
                border-color: transparent;
                box-shadow: $box-shadow;
            }
        }
    }
}

.features {
    background: $grey-light;
    padding: 9rem 0;

    @include media-breakpoint-up(md){
    padding: 7.5rem 0 10rem;
    }

    .feature {
        padding: 3rem 0;
        max-width: 30rem;

        @include media-breakpoint-up(md){
            padding: 7.85rem 0 4.85rem;
        }

        &:hover {
            .icon {
                transform: translateY(-5px) rotate(-10deg) scale(1.05);
            }
        }
    }

    p {
        color: $grey;
    }

    .icon {
        width: 5rem;
        margin-bottom: 2.5rem;
        transition: .3s;

        img {
            width: 100%;
            filter: sepia(100%) hue-rotate(190deg) saturate(500%);
        }
    }
}

.teamwork{
    padding: 10rem 0;
    @include media-breakpoint-up(md){
        padding: 20rem 0 18rem;
    }
}

.our-team{
    max-width: 100vw;
    overflow: hidden;
    padding: 13rem 0 9rem;
    @include media-breakpoint-up(md){
        padding: 13rem 0 15rem;
    }
    .draggable{
        padding: 3rem 8rem 3rem 0;
        margin: 0 -1.75rem;
        .image{
            border-radius: $border-radius;
            overflow: hidden;
            img{
                transition: .3s;
            }
            &:hover img{
                transform: scale(1.05);
            }
        }

        .item{
            padding: 0 1.75rem;
        }
    }
}
